<!DOCTYPE html>
<html lang="en">
  <head>
    <%-seo%>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Racing+Sans+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.core.css" />
    <base href="<%-baseHref%>" />
    <%-style%> <%-routerScript%> <%-graphql%>
    <script>
      //TODO: WE WILL REPLACE THIS LINE BY PROXY-HEADER
      var pageID = <%-pageID%>;

      // window.addEventListener('message', receiveMessage, false);
      // function receiveMessage(event) {
      // if (event.origin !== 'http://localhost:3333') {
      //   if (event.data === 'dark') {
      //     displayDarkTheme();
      //   }
      //   if (event.data === 'light') {
      //     displayLightTheme();
      //   }
      // }
      // }
      // function displayDarkTheme() {
      //   document.body.getElementsByClassName('itp-theme').item(0).classList.replace('light', 'dark');
      // }
      // function displayLightTheme() {
      //   document.body.getElementsByClassName('itp-theme').item(0).classList.replace('dark', 'light');
      // }
    </script>
  </head>

  <body class="itp-theme itp-font-family-default" style="margin: 0px">
    <router-outlet style="display: block">
      <div><%-languageSwitch%></div>
      <%-components%>
    </router-outlet>
  </body>
  <%-script%>
</html>
