<!DOCTYPE html>
<html lang="en">

<head>
    <title>Selecting Order</title>
    <%- include ("../../partials/head") %>
    <script>
        <%if (payload) { %>
            var payloadData = <%- JSON.stringify(payload); %>
        <% } %>

        let variant = Number(payloadData.product.variants[0].variantID)

        function getForm(){
            var formId = 'form';
            var form = document.getElementById(formId);
            return form
        }

        function extFunction(event){
            try{
                event.target.submit();
                MessengerExtensions.requestCloseBrowser(function(){
                });
            }catch(err){
                // event.target.submit();
            }
        }

        function getVariant(){
            return payloadData.product.variants.find(item=>item.variantID === variant);
            return item
        }

        function increaseVariantQuantity(){
            var variantOption = getVariant();
            var quantity = document.getElementById('quantity');
            var val = Number(quantity.value);
            if(val < variantOption.variantInventory) {
                quantity.value = val+1;
                setPrice()
            }
        } 



        function decreaseVariantQuantity(){
            var quantity = document.getElementById('quantity');
            var val = Number(quantity.value);
            if(val>1){
                quantity.value = val-1;
                setPrice()
            }
        }

        function changeVariant(id){
            var quantity = document.getElementById('quantity');
            quantity.value = 1;
            variant = Number(id);
            setPrice()
        }        
        
        function onInputQuantity(amount){
            var variantOption = getVariant();
            if(amount > variantOption.variantInventory) {
                var quantity = document.getElementById('quantity');
                quantity.value = Number(variantOption.variantInventory);
                setPrice()
            } else if(amount == 0){
                var quantity = document.getElementById('quantity');
                quantity.value = 1;
                setPrice()
            }
        }

        function addItemToCart(){
            var form = getForm()
            if (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    var { submitter } = event;
                    var { value, id } = submitter;

                    var _psid = document.getElementById('psid').value;
                    var quantity = document.getElementById('quantity').value;
                    var { product,psid, type,audienceId, view } = payloadData;
                    var response_type = 'ADD_ITEM_TO_CART';
                    let payload = Object.assign({
                        audienceId,
                        response_type,
                        psid,
                        _psid,
                        quantity,
                        variant,
                        value,
                        id,
                        view
                    });

                    payload = Object.assign(payload, { type: type });
                    var params = new URLSearchParams(payload).toString();
                    form.action = `/purchase/postback?${params}`;
                    extFunction(event)
                });
            }
        }

        function setPrice(){
        var variantOption = getVariant();
        var quantity = document.getElementById('quantity')

        var price = document.getElementById('price')
        var total = document.getElementById('total')
        var variantPrice = Number(variantOption.variantUnitPrice)

        var shipping = 0;
        price.innerHTML = `฿ ${variantPrice * Number(quantity.value)}`
        total.innerHTML = `฿ ${variantPrice * Number(quantity.value) + shipping}`
        }
           
       
    </script>
</head>

<body>
    <style>
        * {
            box-sizing: border-box;
            font-family: 'Prompt', 'Prompt-Medium', sans-serif;
        }

        body {
            margin: 15px;
            background:#FFF;
        }

        @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        label {
            color: #343D46;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 14px;
        }

        input,select {
            height: 36px;
            padding-left: 10px;
            margin-bottom: 15px;
        }

        textarea {
            height: 71px;
            resize: none;
            margin-bottom: 15px;
            padding: 10px;
        }

        input,
        textarea {
            color: #333333;
            border: 1px solid rgba(219, 218, 221, 1);
        }

        input,
        textarea,
        button,
        select {
            border-radius: 4px;

        }

        select {
            cursor:pointer;
            background:#FFF;
            width:240px;
            border: 1px solid rgba(219, 218, 221, 1);
        }

        button {
            height: 40px;
            border: none;
            background-color: #53b1ff ;
            color: white;
        }

        button span {
            font-size: 15px;
            font-weight: 500;
        }

        .wrapper {
            border: 1px solid rgba(227, 230, 234, 1);
            border-radius: 8px;
            padding: 20px;
        }

        .wrapper,
        form {
            display: flex;
            flex-direction: column;
        }

        .product-name {
            font-size: 20px;
            font-weight: bold;
            color: #343D46;
            display: flex;
            justify-content: flex-start;
            border: none;
            padding: 0;
            margin-bottom: 10px;
        }

        .product-price-range {
            color: #53B1FF;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .input-group {
            height: 40px;
        }

        .input-group:not(:last-of-type) {
            margin-bottom: 15px;
        }

        .input-group,
        button {
            width: 100%;
            display: flex;
        }

        button {
            font-size: 15px;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            border: none;
            margin-bottom: 10px;
            height: 40px;
            font-weight: bold;
        }

        .add-to-cart {
            background-color: #53b1ff;
            color: #FFF;
            cursor:pointer;
        }

        button .payment {
            color: #363951;
            font-weight: 200;
            font-size: 14px;
        }

        button .cod {
            font-size: 14px;
            color: #9FA2A6;
        }

        .total span {
            font-weight: bold;
            font-size: 16px;
            color: #514B4B;
        }

        .variant,
        .quantity,
        .price,
        .shipping,
        .total {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .variant,
        .quantity {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            font-weight: bold;
        }

        .variant {
            margin-bottom: 15px;
        }

        .price {
            margin-bottom: 10px;
        }

        .quantity .picker .click{
            display:flex
        }
        .quantity .picker .click .button{
            background:#F3F5F9;
            color:#89898A;   
            height: 36px;
            margin: 0;
            width: 30px;
            cursor:pointer;
            font-size:18px;
            display: flex;
            align-items: center;
            justify-content: center
        }
        .quantity .picker .click input {
            display: inline-flex;
            text-align: end;
        }

        .total {
            margin-bottom: 20px;
        }

        .variant span,
        .quantity span {
            font-size: 16px;
            color: #343D46;
        }

        .variants select{

        }

        .price span,
        .shipping span {
            font-size: 12px;
            color: #343D46;
        }
    </style>

    <div class="wrapper">
        <% var product = payload.product %>
        <div class="product-name"><%=product.name%></div>
        <div class="product-price-range"><%=`฿${product.minUnitPrice} - ฿${product.maxUnitPrice}`%></div>
        <form action="/purchase/postback" method="POST" id="form">
            <input type="hidden" name="psid" id="psid">
            <div class="variant">
                <span>Variant</span>
                <div class="variants">
                    <select onchange=changeVariant(this.value)>
                    <% for(let i = 0 ; i<product.variants.length;i++){%>
                        <option value="<%=product.variants[i].variantID%>">
                            <%=product.variants[i].variantAttributes.replace(/,/g,':')%>
                        </option>
                    <%}%>
                    </select>
                </div>
            </div>

            <div class="quantity">
                <span>Quantity</span>
                <div class="picker">
                    <div class="click">
                        <div class="button" onClick=decreaseVariantQuantity()>-</div>
                        <input type="text" name="quantity" id="quantity" value="1" oninput=onInputQuantity(this.value)></span>
                        <div class="button" onClick=increaseVariantQuantity()>+</div>
                    </div>
                </div>
            </div>

            <div class="price"> 
                <span>Price</span>
                <span id="price">฿ <%=product.variants[0].variantUnitPrice%></span>
            </div>

            <!--<div class="shipping">
                <span>Shipping</span>
                <span id="shipping">฿ 0</span>
            </div>-->

            <div class="total">
                <span>Total</span>
                <span id="total">฿ <%=product.variants[0].variantUnitPrice%></span>
            </div>

            <div class="button-group">
                <button class="add-to-cart" onClick=addItemToCart()>
                    Add to cart
                </button>
            </div>
        </form>
    </div>
    <input type="hidden" id="viewtype" name="viewtype" value="<%=payload.view%>">
    <%if (payload.view === 'FACEBOOK_WEBVIEW') { %>
        <%- include ("../../partials/footer" ,{valuepsid:payload.psid}) %>
    <%}%>
</body>
</html>